.select-all{
  display:inline-block;
  position: relative;
  z-index: 99;
  width:100%;
  height:35px;
  .title{
    height:32px;
    line-height:32px;
    display:inline-block;
  }
  .options-wraper{
    position: absolute;
    top:0;
    .input,.name{
      width: 100%;
      height: 32px;
      line-height: 29px;
      border-radius: 2px;
      border: 1px solid #e5e5e5;
      text-indent: 10px;
      position:absolute;
      top:0;
      left:0;
      z-index:98;
      background-color: #fff;
    }
    .promt{
      color:@font_color_21;
      cursor:pointer;
    }
    .clear-choose{
      float: right;
      margin-right:5px;
      margin-top:8px;
      display:block;
      width:14px;
      height:14px;
      line-height:13px;
      text-align:center;
      text-indent:0;
      font-size:15px;
      border-radius:30px;
      font-weight: 200;
      color:@font_color_1;
      background-color:@bg_color_17;
      cursor:default;
    }
    .input:hover,.name:hover{
      border:1px solid @border_color_3;
    }
    .show-options{
      animation: moveshow .3s;
    }
    .hide-options{
      animation: movehide .3s;
    }
    @keyframes moveshow{
      from {
        transform: translateY(-30px);
        opacity:.1;}
      to {
        transform: translateY(0);
        opacity:1;}
    }
    @keyframes movehide{
      from {
        transform: translateY(0);
        opacity:1;}
      to {
        transform: translateY(-30px);
        opacity:.1;}
    }
    .options{
      position: absolute;
      width:100%;
      z-index:-999;
      margin-top:32px;
      background:@bg_color_8;
      max-height:300px;
      overflow-x:hidden;
      overflow-y:auto;
      .options-all{
        width:~"calc(100% + 10px)";
        position:relative;
        left:-10px;
      }
      .no-data{
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-indent: 10px;
      }
    }
  }
}
